<div class='content-wrapper'>
    <section class="box">
        <header>
            <h2 class="title">Danh sách tài khoản ({{searchModel.totalItems}})</h2>
            <div class="actions">
                <button type="button" class="btn btn-success" (click)="showCreate()" container="body">
                    <i class="fa fa-plus"></i>
                    Thêm mới
                </button>
            </div>
        </header>
        <div class="content-body">
            <div class="row">
                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12">
                    <perfect-scrollbar class="ps-bordered" [config]="constant.ScrollXConfig"
                        style="height:auto; width:100%;">
                        <table class="table table-bordered table-tr-fixed" style="min-width:850px">
                            <thead>
                                <tr>
                                    <th width="50px" class="text-center">STT</th>
                                    <th width="163px" class="text-center">Xử lý</th>
                                    <th width="137px" class="text-center">Tình trạng</th>
                                    <th width="200px" class="text-center">Tên tài khoản</th>
                                    <th width="200px" class="text-center">Họ và tên</th>
                                    <th min-width="200px" class="text-center">Mô tả</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of users; let i = index">
                                    <td class="text-center">{{startIndex+i}}</td>
                                    <td>
                                        <ng-container>
                                            <a name="refeshpassword" class="btn btn-xs btn-success" placement="bottom"
                                                ngbTooltip="Xem thông tin" container="body"
                                                [routerLink]="['/nguoi-dung/tai-khoan/xem-tai-khoan/'+ row.id]"
                                                target="_blank">
                                                <span class="fas fa-eye" aria-hidden="true"></span>
                                            </a>
                                        </ng-container>

                                        <ng-container *ngIf="row.userName!==constant.User_Name">
                                            <ng-container>
                                                <button name="refeshpassword" class="btn btn-xs btn-info"
                                                    (click)="showConfirmResetPassword(row.id)" placement="bottom"
                                                    ngbTooltip="Đặt lại mật khẩu" container="body">
                                                    <span class="fas fa-sync-alt" aria-hidden="true"></span>
                                                </button>
                                            </ng-container>

                                            <ng-container *ngIf="row.status == 1 && row.id != userId">
                                                <button name="disable" class="btn btn-xs btn-success"
                                                    (click)="showConfirmLockUser(row.id)" placement="bottom"
                                                    ngbTooltip="Khóa tài khoản" container="body">
                                                    <span class="fas fa-lock-open" aria-hidden="true"></span>
                                                </button>
                                            </ng-container>

                                            <ng-container *ngIf="row.status == 2 && row.id != userId">
                                                <button name="disableopen" class="btn btn-xs btn-danger"
                                                    (click)="showConfirmUnLockUser(row.id)" placement="bottom"
                                                    ngbTooltip="Mở khóa tài khoản" container="body">
                                                    <span class="fas fa-lock" aria-hidden="true"></span>
                                                </button>
                                            </ng-container>

                                            <button type="button" (click)='showUpdate(row.id)'
                                                class="btn btn-xs btn-warning" placement="bottom" ngbTooltip="Cập nhật"
                                                container="body" container="body">
                                                <span class="fa fa-edit" aria-hidden="true"></span>
                                            </button>

                                            <ng-container *ngIf="userId != row.id">
                                                <button class="btn btn-xs btn-danger"
                                                    (click)="showConfirmDelete(row.id)" placement="bottom"
                                                    ngbTooltip="Xóa" container="body" container="body">
                                                    <span class="fas fa-times" aria-hidden="true"></span>
                                                </button>
                                            </ng-container>

                                        </ng-container>
                                    </td>
                                    <td class="text-center">
                                        <nts-status-badge [items]="constant.User_Status" [value]="row.status">
                                        </nts-status-badge>
                                    </td>
                                    <td>{{row.userName}}</td>
                                    <td>{{row.fullName}}</td>
                                    <td>{{row.description}}</td>
                                </tr>
                            </tbody>
                            <tfoot *ngIf="users.length == 0">
                                <tr class="bold">
                                    <td colspan="6" class="text-center image-no-data">
                                        <div>
                                            <img src="./assets/img/no-data.png">
                                            <div>
                                                Không có dữ liệu
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </perfect-scrollbar>
                </div>
            </div>
            <div class="row mt-3" *ngIf="users.length != 0">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex justify-content-start">
                    <div class="controls ">
                        <select class="form-control" style="border: 1px solid #ddd;" [(ngModel)]="searchModel.pageSize"
                            (ngModelChange)="search()" name="pageSize">
                            <option *ngFor="let item of constant.ListPageSize" [value]="item">{{item}}</option>
                        </select>
                    </div>
                    <label class="form-label " style="padding:4px;">bản ghi/Trang</label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12  d-flex justify-content-end">
                    <ngb-pagination [collectionSize]="searchModel.totalItems" [(page)]="searchModel.pageNumber"
                        (pageChange)="search()" [pageSize]="searchModel.pageSize" [maxSize]="5" [rotate]="true"
                        [boundaryLinks]="true"></ngb-pagination>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-view btn-success">
                        <i class="fas fa-plus"></i>
                    </button>&nbsp;
                    <small class="padding-right-20">Thêm tài khoản</small>
                    <button class="btn btn-view btn-warning">
                        <i class="fas fa-edit"></i>
                    </button>&nbsp;
                    <small class="padding-right-20">Cập nhật tài khoản</small>

                    <button class="btn btn-view btn-danger">
                        <i class="fas fa-times"></i>
                    </button>&nbsp;
                    <small class="padding-right-20">Xóa tài khoản</small>
                </div>
            </div>
        </div>
    </section>
</div>